body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F9FAF7;
    color: #1C3B50;
}
.flex-container {
    display: flex;
    align-items: center; /* コンテンツを垂直方向に中央揃えにする */
    /* justify-content: space-between; コンテンツ間にスペースを均等に配置 */
    justify-content: flex-start; /* 左揃えに変更 */
}
.right-content {
    margin-left: 20px; /* 左側の要素との間隔 */
}
.header {
    text-align: left;
    margin-bottom:  15px;
    padding-top:    10px;
    /* padding-bottom: 10px; */
}
.header h1 {
    font-size: 5rem;
    margin-bottom: 50px; /* 下に隙間を設定 */
}
.subtitle {
    margin-top: 5px;
    color: #1C3B50;
    font-size: 40px;
}
table {
    border-collapse: collapse;   /* テーブルのセルの間の隙間を埋める */
}
.table-header {
    background-color: #F7FAFC;
}
.table-shadow {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.toggle-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left:   0px;
    margin-left:    0px;
    
    margin-top:     0px;
    padding-top:    0px;
    
    margin-bottom:  0px;
    padding-bottom: 0px;
}
.toggle-switch {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s;
}
.toggle-switch::after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}
.toggle-switch.active {
    background-color: #4ade80; /* アクティブ時の背景色 */
}
.toggle-switch.active::after {
    transform: translateX(25px); /* ノブを右に移動 */
}
.toggle-text {
    margin-left: 8px;
    user-select: none;
}
.notification-icon {
    width: 28px; /* アイコンの幅 */
    height: 28px; /* アイコンの高さ */
    background-color: #ccc; /* 円の背景色 */
    border-radius: 50%; /* 角を丸くして円を作成 */
    color: white; /* テキストの色 */
    font-weight: bold; /* フォントを太く */
    font-size: 18px; /* テキストのサイズ */
    
    margin-right: 3px;
    
    display: inline-flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    
    text-align: center; /* テキストを中央揃え */
}
.summary-header {
    position: relative;
    display: inline-block;
    color: #1C3B50;
}
.tooltip-content {
    visibility: hidden;
    width: 500px;      /* 横幅 */
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 105%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
.summary-header:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 1rem;
}
.nav-links a {
    color: #1C3B50;
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #4ade80;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.github-link {
    color: #1C3B50;
    text-decoration: none;
    transition: color 0.3s ease;
}
.github-link:hover {
    color: #4ade80;
}
.score-pill {
    background-color: #E2E8F0;
    padding: 8px; /* セル内の余白を設定 */
    border-radius: 8px; /* 角の丸みを少し減らす */
    display: inline-block;
}
.space {
    margin-top: 1rem;
    margin-bottom: 1rem;
}