body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F9FAF7;
    color: #1C3B50;
}
table {
    border-collapse: collapse;   /* テーブルのセルの間の隙間を埋める */
}
.table-header {
    background-color: #F7FAFC;
}
.table-shadow {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.toggle-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left:   0rem;
    margin-left:    0rem;
    
    margin-top:     0rem;
    padding-top:    0rem;
    
    margin-bottom:  0rem;
    padding-bottom: 0rem;
}
.toggle-switch {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s;
}
.toggle-switch::after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}
.toggle-switch.active {
    background-color: #4ade80; /* アクティブ時の背景色 */
}
.toggle-switch.active::after {
    transform: translateX(25px); /* ノブを右に移動 */
}
.toggle-text {
    margin-left: 8px;
    user-select: none;
}
.header {
    text-align: left;
    margin-bottom: 3rem;
    padding-top:   3rem;
}
.header h1 {
    font-size: 5rem;
}
.summary-header {
    position: relative;
    display: inline-block;
}
.tooltip-content {
    visibility: hidden;
    width: 300px;
    background-color: #e2e4e0;
    color: #1C3B50;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
}
.summary-header:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 1rem;
}
.nav-links a {
    color: #1C3B50;
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #4ade80;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.github-link {
    color: #1C3B50;
    text-decoration: none;
    transition: color 0.3s ease;
}
.github-link:hover {
    color: #4ade80;
}
.score-pill {
    background-color: #E2E8F0;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    display: inline-block;
}