body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F9FAF7;
    color: #1C3B50;
}
/* 全てのテーブルセルから縦線を消す */
table td, table th {
    border-left: none;
    border-right: none;
}
.table-header {
    background-color: #F7FAFC;
}
.table-shadow {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}


/* .toggle-switch {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #e5e5e5;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s ease;
}
.toggle-switch::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s ease;
}
.toggle-switch.active {
    background-color: #4ade80;
}
.toggle-switch.active::after {
    left: 27px;
}
.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
    padding-left: 0rem;
    margin-left:  0rem;
    
    margin-top:    2rem;
    padding-top:   2rem;
    
    margin-bottom: 0rem;
    padding-bottom:0rem;
}
.toggle-text {
    font-size: 0.875rem;
    color: #374151;
} */
.toggle-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left:   0rem;
    margin-left:    0rem;
    
    margin-top:     2rem;
    padding-top:    2rem;
    
    margin-bottom:  0rem;
    padding-bottom: 0rem;
}
.toggle-switch {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s;
}
.toggle-switch::after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}
.toggle-switch.active {
    background-color: #4ade80; /* アクティブ時の背景色 */
}
.toggle-switch.active::after {
    transform: translateX(25px); /* ノブを右に移動 */
}
.toggle-text {
    margin-left: 8px;
    user-select: none;
}
.header {
    text-align: left;
    margin-bottom: 3rem;
    padding-top:   3rem;
}
.header h1 {
    font-size: 5rem;
}
/* .sub-header {
    text-align: left;
    color: #64748b;
    margin-bottom: 1rem;
    padding-top:   0rem;
} */
.summary-container .summary-header {
    position: relative;
    display: inline-block;
}
.summary-container .tooltip-content {
    visibility: hidden;
    /* width: auto; または適切な最大幅に設定 */
    max-width: 300px; /* 最大幅を超えないように設定 */
    background-color: #b9c7c2;
    color: #1C3B50;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: 50%; /* 要素の上から50%の位置 */
    left: 100%; /* 要素の右側に */
    transform: translateY(-50%); /* 中心から上に50%移動して中央揃えに */
    margin-left: 8px; /* 親要素との間に少し間隔を持たせる */
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}
.summary-container .summary-header:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 1rem;
}
.nav-links a {
    color: #1C3B50;
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #4ade80;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.github-link {
    color: #1C3B50;
    text-decoration: none;
    transition: color 0.3s ease;
}
.github-link:hover {
    color: #4ade80;
}
.score-pill {
    background-color: #E2E8F0;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    display: inline-block;
}